{% extends "registration/base.html"%}

{% block content %}
<form action="/registration/sign_in/" method="post" class="form-container">
  {% csrf_token %}
  <div>
    <label class="input">
      Email <br>
      <input type="email" name="email">
    </label>
  </div>
  <div>
    <label class="input">
      Password <br>
      <input type="password" name="password">
    </label>
  </div>
  <button class="action-button">Sign In</button>

</form>
<a href="/registration/sign_up/" class="link">Create New Account</a>
{% endblock %}