.app {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--background-color);
}

.action-button {
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}


input {
    background-color: rgba(var(--background-color-rgb), 0.6);
    color: var(--text-color);
}

.control-button {
    position: absolute;
    top: 100px;
    left: 170px;
    z-index: 1000;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.play-button {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 12px;
    border: none;
    border-radius: 20px;
}
.stop-button {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding: 12px;
    border: none;
    border-radius: 20px;
}


.left {
    width: 220px;
    background-color: var(--background-color);
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.25);
    position: relative;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
.right {
    width: 280px;
    height: 100%;
    background-color: var(--background-color);
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.25);
    position: relative;
    z-index: 9;
}
.body {
    display: flex;
    height: 100%;
}