.collection-page {
    background-color: var(--background-color);
    color: var(--text-color);
    height: calc(100vh - 73px);
    padding: 30px;
    padding-left: 100px;
    
}

h2, h3 {
    margin: 0;
    text-align: center;
}

.date {
    font-size: 12px;
    color: var(--muted-color);
    margin-top: 5px;
}