.collection-page {
    background-color: #2e3a3f;
    color: white;
    height: calc(100vh - 73px);
    padding: 30px;
    
}


.scripts-list {
    display: flex;
    flex-direction: row;
}

.script-card {
    background-color: #3a4549;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    user-select: none;
}

h2, h3 {
    margin: 0;
    text-align: center;
}

.date {
    font-size: 12px;
    color: #bbbbbb;
    margin-top: 5px;
}