:root {
  --primary-color: #070b16;
  --secondary-color: #32924f;
  --accent-color: #59c479;
  --background-color: #070b16;
  --light-background-color: #070b16;
  --background-color-rgb: 7, 11, 22;
  --text-color: #d9d9d9;
  --muted-color: #d9d9d9;
  --canvas-background: #131521;
  --canvas-border: #ff0000;
  --settings-active-bg: #ffffff;
  --settings-active-color: #131521;
}