.app {
    width: 100%;
    height: 100vh;
    margin: 0;
    /* overflow: hidden; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}


.control-button {
    position: absolute;
    top: 10px;
    left: 190px;
    z-index: 1000;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-size: 16px;
}
.play-button {
    background-color: var(--secondary-color);
}
.stop-button {
    background-color: var(--accent-color);
}


.left {
    width: 180px;
    height: 100%;
    background-color: var(--background-color);
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.25);
    position: relative;
    z-index: 25;
    overflow: hidden;

    flex: 0 0 180px;
    min-width: 180px;
    
}

.list {
    overflow: scroll;
    height: calc(100vh - 36px);
    align-items: center;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    padding-right: 10px;
}

.right {
    width: 220px;
    height: 100%;
    background-color: var(--background-color);
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.25);
    position: relative;
    z-index: 12;
    flex: 0 0 220px;
    min-width: 220px;
    margin-top: 0px;
}
.body {
    display: flex;
    height: 100%;
}


.settings {
    position: absolute;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    transition: background-color 0.2s, color 0.2s, border-radius 0.2s;
    width: 25px;
    z-index: 22;
    right: 230px;
    top: 10px;
    color: var(--text-color);
}

.settingsactive {
    background-color: var(--settings-active-bg);
    color: var(--settings-active-color);
    border-radius: 200px;
}

/* Position in center */
.title {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title > input {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 20px;
    border-radius: 100px;
    padding: 10px;
    border: none;
}

.title > * {
    margin: 10px;
}

.favorite {
    background-color: transparent;
    border: none;
    color: var(--text-color);
    padding: 0px;
    margin-right: 0px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.favorite:hover {
    color: var(--accent-color);
}

.favorite-active {
    color: var(--accent-color);
}

.favorite-active:hover {
    color: var(--secondary-color);
}

.newscript {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

::-webkit-scrollbar {
    width: 5px;
    border: 10px solid rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
    background: rgba(var(--background-color-rgb), 0);
    margin-right: 10px;
}

::-webkit-scrollbar-thumb {
    background: #474747;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}
