.app {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}


.control-button {
    position: absolute;
    top: 10px;
    left: 190px;
    z-index: 1000;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.play-button {
    background-color: rgb(93, 174, 93);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
}
.stop-button {
    background-color: rgb(229, 121, 121);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 20px;
}


.left {
    width: 180px;
    height: 100%;
    background-color: #282c34;
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.25);
    position: relative;
    z-index: 25;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 35px);
    overflow: scroll;
    flex: 0 0 180px;
    min-width: 180px;
}
.right {
    width: 220px;
    height: 100%;
    background-color: #282c34;
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.25);
    position: relative;
    z-index: 9;
    flex: 0 0 220px;
    min-width: 220px;
}
.body {
    display: flex;
    height: 100%;
}


.settings {
    position: absolute;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    transition: background-color 0.2s, color 0.2s, border-radius 0.2s;
    width: 25px;
    z-index: 22;
    right: 230px;
    top: 10px;
    color: white;
}

.settingsactive {
    background-color: white;
    color: #20242c;
    border-radius: 200px;
}

/* Position in center */
.title {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title > input {
    font-size: 20px;
    border-radius: 100px;
    padding: 8px;
    border: none;
}

.title > * {
    margin: 10px;
}

.favorite {
    background-color: transparent;
    border: none;
    color: white;
    padding: 0px;
    margin-right: 0px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.favorite:hover {
    color: pink;
}

.favorite-active {
    color: red;
}

.favorite-active:hover {
    color: rgb(207, 1, 1);
}