.canvas {
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--canvas-background);
    background-image: radial-gradient(var(--light-background-color) 2.5px, transparent 2.5px);
    background-size: 80px 80px;
    z-index: 12;
}