.canvas {
    border-radius: 15px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--canvas-background);
    background-image: radial-gradient(var(--text-color) 2px, transparent 2px);
    background-size: 80px 80px;
    z-index: 12;
}