.console-container {
    color: var(--text-color);
    margin: 20px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 8px;
    font-family: monospace;
    font-size: 15px;
}

.console-output {
    height: 150px;
    overflow-y: auto;
    background-color: var(--canvas-background);
    padding: 10px;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    flex-direction: column-reverse;
}

.console-output p {
    margin: 0;
    line-height: 1.4;
}