
.nav-bar {
    width: 100%;
    background-color: #282c34;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.15);
    position: relative;
    z-index: 10;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 40px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navlink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
}

.navlink-active {
    background: rgba(255,255,255,0.08);
    box-shadow: inset 0 -3px 0 rgba(255,255,255,0.06);
}

.share {
    user-select: none;
    background-color: #20242c;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.settings {
    cursor: pointer;
    user-select: none;
}