

.nav-bar {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    box-shadow: 1px 10px 24px 0px rgba(0,0,0,0.15);
    position: relative;
    z-index: 10;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 20px;
}
.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 40px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

.navlink {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
}

.navlink-active {
    background: rgba(255,255,255,0.08);
    box-shadow: inset 0 -3px 0 rgba(255,255,255,0.06);
}

.share {
    user-select: none;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}


.title-assemblock {
    font-size: 20px;
    margin-right:  10px;
}

.assemblock-logo {
    width: 25px;
    height: 25px;
    margin-right: -5px;
    margin-left: -15px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}