.node {
    height: 50px;
    background-color: var(--canvas-background);
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 18px;
    cursor: grab;
    user-select: none;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
    padding: 0px 2px;
    transition: outline 0.2s ease, box-shadow 0.2s ease;
    min-width: 65px;
    width: fit-content;
    white-space: normal;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    margin-top: 10px;
    border-radius: 12px;
}

.spacer {
    color: white;
    padding: 0px;
    margin: 0px;
    letter-spacing: -2px;
    font-size: 10px;
    white-space:nowrap;
}

.connectedleft {
    border-radius: 0px 12px 12px 0px;
}

.connectedright {
    border-radius: 12px 0px 0px 12px;
}

.connectedboth {
    border-radius: 0px;
}

.active {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    outline: 2px solid var(--accent-color);
}

.title-part-with-param {
    display: flex;
    flex-direction: row;
    margin: 2px;
    align-items: center;    
}
.param {
    width: 50px;
    margin-left: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    height: fit-content;
    padding: 3px;
    border: none;
    border-radius: 5px;
    font-size: 10px;
}

.param-number {
    width: 7px;
}
/* Hide number input spin buttons (Chrome, Safari, Edge, Opera) */
.param-number::-webkit-outer-spin-button,
input.param[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons / change appearance on Firefox */
.param-number,
input.param[type="number"] {
    -moz-appearance: textfield; /* Firefox */
    appearance: textfield;
    -webkit-appearance: none; /* fallback for webkit-based */
}

.param-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 23px;
}

.param-title {
    margin: 0;
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 0;
    font-size: 14px;

    /*
    Source - https://stackoverflow.com/a
    Posted by bookcasey, modified by community. See post 'Timeline' for change history
    Retrieved 2025-11-25, License - CC BY-SA 4.0
    */
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

}