.registers-container {
    color: var(--text-color);
    margin: 20px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 8px;
    font-family: monospace;
    font-size: 15px;
}