.registers-container {
    color: var(--text-color);
    margin: 20px;
    padding: 10px;
    background-color: var(--canvas-background);
    border-radius: 15px;
    font-family: monospace;
    font-size: 15px;
    margin-top: 0px;
}