
.scripts-list {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;
    align-content: flex-start;
}

.owner {
    color: var(--muted-color);
}

.favorites-number {
    display: flex;
    align-items: center;
    gap: 5px;
}

.confirmation-dialog {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 4000px rgb(0, 0, 0);
    position: absolute;

    /* Position in middle of screen*/
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

.dialog-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}
.dialog-buttons > * {
    padding: 10px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

.script-card {
    background-color: var(--background-color);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    justify-content: space-between;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}