
.scripts-list {
    display: flex;
    flex-direction: row;
}

.script-card {
    background-color: var(--canvas-background);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    margin: 10px;
    cursor: pointer;
    user-select: none;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}